@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* Navigation */

:popover-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 100px;
  margin: 0;
  border: none;
}
.relative {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  display: flex;
  justify-content: center;
}

html,
body {
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  background: #f9fafb;
  padding-top: 70px;
}

nav {
  padding: 10px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  /* position: relative; */
  border-bottom: 1px solid #e5e7eb;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  z-index: 1000;
}

.logo {
  color: #2054dc;
}

.logo a {
  text-decoration: none;
  color: #2054dc;
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a.active {
  color: #2054dc;
}

nav ul li a {
  text-decoration: none;
  color: gray;
}

nav ul li a:hover {
  color: #2054dc;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  color: #2054dc;
  font-size: 30px;
}

/* .right-side-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */
.tool-tip {
  position: relative;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.button-container .login {
  border: 1px solid #2054dc;
  color: #2054dc;
}

.button-container .signup {
  background: #2054dc;
  color: white;
}

.right-side-container .profile {
  display: flex;
  align-items: center;
  background: #e5e7eb;
  border-radius: 20px;
  padding: 8px 15px;
  cursor: pointer;
  gap: 10px;
}

.right-side-container .profile:hover {
  background: #dddfe2;
}

.right-side-container img {
  object-fit: cover;
  border-radius: 50%;
}

.profile-container img {
  height: 25px;
  width: 25px;
}

@media (max-width:830px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: #fff;
    gap: 0;
    overflow: hidden;
  }

  nav ul li {
    padding: 20px;
    padding-top: 0;
  }

  .menu-icon {
    display: block;
  }

  #menuList {
    transition: all 0.5s;
  }
}

footer {
  background: #1f2937;
  height: 300px;
  margin-top: 210px;
}